html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

$primary-color: #f03000;
$bg-color: #f0f0f0;
$font-img: #fff;
$color-footer-bg: #444444;
$font-base: 'Montserrat', sans-serif;
$font-open: 'Open Sans', sans-serif;

body {
  padding: 30px 20px;
  font-family: $font-base;
}

// header ********************
.hero {
  text-align: center;

  &__menu {
    margin: 40px auto;
  }
}

.nav {
  display: flex;
  justify-content: space-around;

  &__item {
    list-style-type: none;
  }

  &__item a {
    color: $primary-color;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    padding: 20px;
  }

  &__item a:hover,
  &__item a:focus {
    background-color: $primary-color;
    color: $font-img;
  }
}

// MAIN ********************
.info__imgs,
.info__text,
.last-minute__grid,
.news__grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

section,
.info__imgs {
  margin-bottom: 40px;
}

.info p {
  font-family: $font-open;
}

h2 {
  margin-bottom: 20px;
}

.tip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  color: $font-img;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &1 {
    background-image: linear-gradient(
        rgba(182, 182, 182, 0.13),
        rgba(77, 77, 77, 0.199)
      ),
      url('../img/palmy.png');
  }

  &2 {
    background-image: linear-gradient(
        rgba(182, 182, 182, 0.13),
        rgba(77, 77, 77, 0.199)
      ),
      url('../img/jezero2.png');
  }

  &3 {
    background-image: linear-gradient(
        rgba(182, 182, 182, 0.13),
        rgba(77, 77, 77, 0.199)
      ),
      url('../img/nakole.png');
  }

  &4 {
    background-image: linear-gradient(
        rgba(182, 182, 182, 0.13),
        rgba(77, 77, 77, 0.199)
      ),
      url('../img/lodicka.png');
  }

  &5 {
    background-image: linear-gradient(
        rgba(182, 182, 182, 0.13),
        rgba(77, 77, 77, 0.199)
      ),
      url('../img/podkova.png');
  }

  &6 {
    background-image: linear-gradient(
        rgba(182, 182, 182, 0.13),
        rgba(77, 77, 77, 0.199)
      ),
      url('../img/zatoka.png');
  }

  & span {
    color: $font-img;
    padding: 10px;
    background-color: $primary-color;
  }

  &--big {
    min-height: 240px;

    & h3 {
      margin-bottom: 20px;
      font-size: 28px;
    }
  }

  &--small {
    min-height: 150px;
    font-size: 20px;
  }
}

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  background-color: $bg-color;

  &__img {
    margin: 0 auto;
    align-self: flex-start;
  }

  &__text {
    flex-basis: 80%;
    margin-left: 20px;
  }
  & h5 {
    font-size: 18px;
    color: $primary-color;
    margin-bottom: 10px;
  }
}

// sekce novinky
.new {
  padding: 20px;
  background-color: $bg-color;

  &__date {
    color: #888888;
  }

  &__title {
    color: $primary-color;
    margin: 10px 0;
    font-size: 16px;
  }
}

// footer
footer {
  background-color: $color-footer-bg;

  & p {
    color: $font-img;
    text-align: center;
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .hero__menu {
    margin: 20px;
  }

  .info__imgs {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 360px 180px;
  }
  .tip1 {
    grid-column: 1 / -1;
  }

  .info__text {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 180px 180px;
  }

  .last-minute__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 360px 180px;
  }
  .tip4 {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 960px) {
  .info__imgs {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 180px 180px;
  }

  .tip1 {
    grid-column: 1 / span 2;
    grid-row: 1 / -1;
  }

  .info__text {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(180px, 230px);
  }

  .services {
    flex-direction: column;

    &__text {
      margin-top: 20px;
      text-align: center;
    }
  }
  .last-minute__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 180px 180px;
  }

  .tip4 {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
  }

  .news__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
